[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
markdown-it-py = "*"
pypandoc = "*"
arabic-reshaper = "*"
python-bidi = "*"
arabic-to-roman = "*"
watchdog = "*"
pyyaml = "*"
pydub = "*"
hangul-romanize = "*"
indic-transliteration = "*"
pyarabic = "*"
jieba = "*"
transliterate = "*"
flask = "*"
setuptools = "*"
pypinyin = "*"
pykakasi = "*"
livereload = "*"
deep-translator = "*"
lxml = "*"
googletrans = "*"
fugashi = "*"
konlpy = "*"
korean-romanizer = "*"
pinyin = "*"
langdetect = "*"
pyspellchecker = "*"
spacy = "*"
PyMuPDF = "*"
pdfplumber = "*"
pillow = "*"
requests = "*"
pix2tex = {version = "*", optional = true}
transliteration-tools = {file = ".", editable = true}
flake8 = "*"
black = "*"
isort = "*"
ebooklib = "*"
beautifulsoup4 = "*"
chardet = "*"
pyttsx3 = "*"
opencv-python = "*"
tqdm = "*"
numpy = "*"

[dev-packages]

[requires]
python_version = "3.12"
